<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tagTile</key>
		<string>坤坤坤坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤坤坤坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>LOTTERY</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
	<dict>
		<key>tagTile</key>
		<string>坤</string>
		<key>normalTitleFont</key>
		<integer>20</integer>
		<key>normalTitleColor</key>
		<string>gray</string>
		<key>selectedTitleFont</key>
		<integer>30</integer>
		<key>selectedTitleColor</key>
		<string>red</string>
	</dict>
</array>
</plist>
